html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--colors-gray12);
  background-color: var(--colors-gray1);
  line-height: 26px;
}

:root {
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 40px;
  --space-6: 48px;
  --space-7: 56px;
  --space-8: 64px;
  --space-9: 72px;
  --space-10: 80px;
  --space-11: 88px;
}

:root.dark {
  --colors-gray1: hsl(0 0% 8.5%);
  --colors-gray2: hsl(0 0% 11.0%);
  --colors-gray3: hsl(0 0% 13.6%);
  --colors-gray4: hsl(0 0% 15.8%);
  --colors-gray5: hsl(0 0% 17.9%);
  --colors-gray6: hsl(0 0% 20.5%);
  --colors-gray7: hsl(0 0% 24.3%);
  --colors-gray8: hsl(0 0% 31.2%);
  --colors-gray9: hsl(0 0% 43.9%);
  --colors-gray10: hsl(0 0% 49.4%);
  --colors-gray11: hsl(0 0% 62.8%);
  --colors-gray12: hsl(0 0% 93.0%);
  --colors-bg: #000;
  --colors-highContrast: white;
  --colors-dock-bg: rgba(22, 22, 22, 0.85);
}

:root.light {
  --colors-gray1: hsl(0 0% 99.0%);
  --colors-gray2: hsl(0 0% 97.3%);
  --colors-gray3: hsl(0 0% 95.1%);
  --colors-gray4: hsl(0 0% 93.0%);
  --colors-gray5: hsl(0 0% 90.9%);
  --colors-gray6: hsl(0 0% 88.7%);
  --colors-gray7: hsl(0 0% 85.8%);
  --colors-gray8: hsl(0 0% 78.0%);
  --colors-gray9: hsl(0 0% 56.1%);
  --colors-gray10: hsl(0 0% 52.3%);
  --colors-gray11: hsl(0 0% 43.5%);
  --colors-gray12: hsl(0 0% 9.0%);
  --colors-bg: #FFF;
  --colors-lowContrast: #FFFFFF;
  --colors-highContrast: black;
  --colors-dock-bg: #FFF;
}

a {
  color: var(--colors-gray12);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
