<!-- Logged In -->
<mat-toolbar class="app-header navbar" color="primary">
  <!-- <a class="navbar-brand" mat-button [routerLink]="['/dashboard']">
    <img class="logo-svg" src="/assets/icon/ng.png" alt="Logo">
    <span>2Fun管理后台</span>
  </a> -->
  <mat-icon class="sidebar-toggler material-icons" (click)="openSidenav.emit(true);">menu</mat-icon>
  <span class="example-spacer"></span>
  <!-- <button mat-button>新增条目</button> -->
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>https</mat-icon>
      <span>修改密码</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>report</mat-icon>
      <span>帮助</span>
    </button>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>退出登录</span>
    </button>
  </mat-menu>
</mat-toolbar>
